<ion-header>
  <ion-toolbar>
    <ion-title>Ekle</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true">
    <ion-item>
      <ion-label position="floating">Türkçe</ion-label>
    <ion-input style="color: #007fff" [(ngModel)]="kelime.t"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label  position="floating">İngilizce</ion-label>
    <ion-input style="color: #007fff" [(ngModel)]="kelime.i"></ion-input>
    </ion-item>
    <ion-button expand="block" shape="round" (click)="Ekle(kelime)" >Kelime Ekle</ion-button>
   
   
